
page-home {
    font-family: cursive;

    #container {
        position:absolute;
        z-index: -1;
    }

    .amap-logo {
        display: none!important;
    }
    
    .amap-copyright {
        display: none!important;
    }

    .people {
        .say {
            display: none;
            left: -5px;
            bottom: 5px;
            height: 25px;

            position:relative; 
            border:2px solid black; 
            border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
            background-color:#FFF;

            em {
                left:20px;
                display:block;
                border-width:10px; 
                position:absolute;
                bottom:-20px;
                border-style:solid dashed dashed;
                border-color:black transparent transparent;
                font-size:0; 
                line-height:0;
            }

            span {
                left:20px;
                display:block; 
                border-width:10px; 
                position:absolute; 
                bottom:-18px; 
                border-style:solid dashed dashed; 
                border-color:#FFF transparent transparent;
                font-size:0; 
                line-height:0;
            }
        }

        .head-portrait {
            border: solid black 2px;
            border-radius: 50%;
            width:50px;
            height:50px;
        }
    }

    .search {
        border: solid black 2px;
        border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
        background: rgba(255, 255, 255, 1);
        height: 30px;
        margin-top: -15px;

        display: none;
        align-items: center;
        justify-content: center;

        .icon {
            margin-left: 5px;
            margin-right: 5px;
        }

        .value {
            border: transparent;
            background: transparent;
            width: 100%;
            height: 23px;
        }

        .clear {
            margin-right: 5px;
        }
    }

    .resultScroll {
        margin-top: 2px;
        border: solid black 2px;
        border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
        height: 150px;
        background: white;
        display: none;
        
        .result {
            margin-top: -18px;
            margin-bottom: 0px;
            margin-left: -18px;
            margin-right: -18px;
            background: white;

            .sliding {
                margin-top: 2px;

                .item {
                    border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
                    border-bottom:  solid black 2px;
                }

                button {
                    border: solid black 2px;
                    border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;   
                }
            }
        }
    }

    .actions {
        border: solid black 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
        border: solid black 2px;
        border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
        background: rgba(255, 255, 255, 0.75);
        top: 45px;
        left: 15px;
        right:15px;
        bottom: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 999;

        .close {
            display: flex;
            justify-content: flex-end;
            
            button {
                margin-right: -5px;
                background: transparent;
        
                img {
                    width:30px;
                    height:30px;
                    pointer-events: none;
                }
            }
        }

        .infoScroll {
            height: 100%;
            margin-top: -33px;

            .head-portrait {
                display: flex;
                align-items: center;
                flex-direction: column;
                
                img {
                    width: 120px;
                    height: 120px;
                    border: solid black 2px;
                    border-radius: 50%;
                }
            }
    
            hr {
                background: black;
                height: 2px;
                width: 100%; 
                border-top-left-radius: 70%;
                border-bottom-right-radius: 70%;   
            }

            .said {
                .content {
                    margin-top: 20px;
                }
    
                .time {
                    margin-top: 10px;
                    text-align: right;
                    color: #2b78e4;
                }
            }
        }

    }

    .sign-in {
        border: solid black 2px;
        border-radius: 50px 5px 100px 5px/5px 20px 5px 20px;
        background: rgba(255, 255, 255, 0.75);
        top:25%;
        left: 15px;
        right:15px;
        height: 50%;
        position: absolute;
        display: none; 
        align-items: center;
        justify-content: center;

        .step-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                       
            .hint {
                text-align: center;
                margin-bottom: 20px;
            }

            .phone-group {
                display: flex;

                .phone-numbers {
                    border: solid black 2px;
                    border-radius: 10px 2.5px 10px 2.5px / 2.5px 10px 2.5px 10px;
                    text-align: center;
                    width: 130px;
                    height: 27px;
                }

                .next {
                    margin-left: 10px;
                    border: solid black 2px;
                    border-radius: 10px 2.5px 10px 2.5px / 2.5px 10px 2.5px 10px;
                    background: #9fb5f8;
                    width: 63px;
                    height: 25px;
                    box-shadow: 2px 2px black;
                    color: black;
                }
            }
        }

        .step-2 {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .hint {
                text-align: center;
            }

            .progress {
                margin-top:20px;
                border: solid black 2px;
                border-radius: 10px 2.5px 10px 2.5px / 2.5px 10px 2.5px 10px;
                background: white;
                width: 104px;
                height: 20px;
                
                .progress-value {
                    background: #9fb5f8;
                    width: 0px;
                    height: 16px;
                }
            }
        }

        .step-3 {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .hint {
                text-align: center;
            }

            .code-group {
                margin-top:20px;

                .code {
                    border: solid black 2px;
                    border-radius: 10px 2.5px 10px 2.5px / 2.5px 10px 2.5px 10px;                
                    width: 25px;
                    height: 25px;
                    text-align: center;
                }
            } 
        }

        .step-4 {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .hint {
                text-align: center;
            }

            .progress {
                margin-top:20px;
                border: solid black 2px;
                border-radius: 10px 2.5px 10px 2.5px / 2.5px 10px 2.5px 10px;
                width: 104px;
                height: 20px;
                
                .progress-value1 {
                    background:linear-gradient(120deg,
                     white 0rem,
                     white 1.0rem,
                     #9fb5f8 1.0rem,
                     #9fb5f8 2.0rem,
                     white 2.0rem, 
                     white 3.0rem,
                     #9fb5f8 3.0rem,
                     #9fb5f8 4.0rem,
                     white 4.0rem, 
                     white 5.0rem,
                     #9fb5f8 5.0rem,
                     #9fb5f8 6.0rem,
                     white 6.0rem, 
                     white 7.0rem,
                     #9fb5f8 7.0rem,
                     #9fb5f8 8.0rem,
                     white 8.0rem, 
                     white 9.0rem,
                     #9fb5f8 9.0rem,
                     #9fb5f8 10.0rem);
                    width: 100px;
                    height: 16px;
                }

                .progress-value2 {
                    background:linear-gradient(120deg,
                     #9fb5f8 0rem,
                     #9fb5f8 1.0rem,
                     white 1.0rem,
                     white 2.0rem,
                     #9fb5f8 2.0rem, 
                     #9fb5f8 3.0rem,
                     white 3.0rem,
                     white 4.0rem,
                     #9fb5f8 4.0rem, 
                     #9fb5f8 5.0rem,
                     white 5.0rem,
                     white 6.0rem,
                     #9fb5f8 6.0rem, 
                     #9fb5f8 7.0rem,
                     white 7.0rem,
                     white 8.0rem,
                     #9fb5f8 8.0rem, 
                     #9fb5f8 9.0rem,
                     white 9.0rem,
                     white 10.0rem);
                    width: 100px;
                    height: 16px;
                }
            }
        }
    }
}

